@function vw($px){
    @return($px/375)*100vw;
}
.notice{
    background-color: #fff;
    margin: vw(10) 0;
    padding: vw(14);
    a{
        color: #333;
        font-size: vw(14);
        text-decoration-line: underline;
    }
}

#activity{
    background-color: #f5f5f5;
    padding: 0 vw(16);
    overflow: hidden;

    .activity{
        li{
            display: flex;
            justify-content: space-between;
            padding: 0 vw(8);
            .img{
                width: vw(180);
                height: vw(70);
                overflow: hidden;
                flex-shrink: 0;
                margin-right: vw(20);
                img{
                    width: 100%;
                }
            }
            .content{
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                *{
                    font-weight: normal;
                    margin: 0;
                }
                .title{
                    color: #333;
                    font-size: vw(16);
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
                .data{
                    color: #aabad1;
                    font-size: vw(10);
                }
            }
        }
    }
}