* {
  text-align: left;
}

html, body {
  background: #fff !important;
}

#login {
  padding: 0 10.13333vw;
  background: #fff;
}

#login h2 {
  margin: 0;
  font-weight: 900;
  font-size: 7.46667vw;
  padding: 16vw 0 10.66667vw;
  text-align: left;
  color: #333333;
}

#login Form Input {
  background-color: #f3f3f3;
  height: 10.66667vw;
  width: 100%;
  border-radius: 5.33333vw;
  text-indent: 8vw;
}

#login Form Input:nth-child(1) {
  text-indent: 5.33333vw;
}

#login Form .ant-row {
  margin-bottom: 2.66667vw;
}

#login Form .ant-row:nth-child(1) {
  margin-bottom: 2.66667vw;
}

#login p {
  font-size: 3.2vw;
  line-height: 3.2vw;
  margin-bottom: 3.73333vw;
  color: #b3b3b3;
}

#login .reg {
  color: #2ac9ad;
  font-weight: 900;
}

#login .loginbtn {
  width: 100%;
  height: 10.66667vw;
  background-color: #999;
  color: #fff;
  margin-top: 8.8vw;
}

#login .login2 {
  text-align: center;
  color: #2ac9ad;
  margin: 4.8vw 0 9.6vw;
}

#login .agreed {
  text-align: center;
  margin-bottom: 11.2vw;
}

#login .agreed .agreement {
  color: #2ac9ad;
}

#login .ant-divider {
  font-size: 2.66667vw;
  line-height: 2.66667vw;
  color: #e5e5e5;
}

#login .icons {
  display: flex;
  justify-content: space-between;
}

#login .icons .icon {
  width: 12vw;
  height: 12vw;
  background-color: #55acef;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

#login .icons .icon svg {
  color: #fff;
  width: 8vw;
  height: 8vw;
}

#login .icons .icon:nth-child(1) {
  background-color: #6dd365;
}

#login .icons .icon:nth-child(2) {
  background-color: #ea644e;
}
