#personal {
  background-color: #f5f5f5;
  overflow: hidden;
  padding: 0 4.26667vw;
}

#personal * {
  text-align: left;
}

#personal .head button, #personal .id button {
  background-color: #00a786 !important;
  border: 1px solid #008e72 !important;
}

#personal .submit {
  width: 100%;
  margin-top: 5.33333vw;
  height: 10.66667vw;
  text-align: center;
  background-color: #00a786 !important;
  border: 1px solid #008e72 !important;
}

#personal h2 {
  font-size: 4.26667vw;
  margin: 6.4vw 0 8vw;
  font-weight: 900;
}

#personal h2 .square {
  display: inline-block;
  width: 3.73333vw;
  height: 3.73333vw;
  border-radius: 1.06667vw;
  background-color: #00a786;
  margin-right: 1.6vw;
}

#personal h3 {
  font-size: 3.2vw;
  font-weight: 900;
  margin: 6.93333vw 0 3.2vw;
}

#personal .mt4 {
  margin-top: 1.06667vw;
}

#personal .head {
  text-align: center;
}

#personal .head .himg {
  text-align: center;
}

#personal .head .himg img {
  border-radius: 50%;
  margin-bottom: 3.2vw;
}

#personal .head .himg button {
  width: 21.33333vw;
}

#personal .id button, #personal .password button, #personal .tel button {
  margin-left: 4.8vw;
}

#personal .birthday span {
  width: 100% !important;
}

#personal .location .ant-select, #personal .emotion .ant-select, #personal .orientation .ant-select, #personal .gender .ant-select {
  width: 100%;
}

#personal .center li {
  margin: 0;
  height: 13.33333vw;
  display: flex;
  align-items: center;
}

#personal .center .ant-menu-item-active {
  background-color: #00a786;
  color: #fff;
}

.ant-select-dropdown li {
  margin: 0;
}
